.Heading{
    line-height: 3em
}
.Heading h1{
    background-color:#C8C8C8;
    color: black;
    text-align: center;
    font-family: 'Overpass Mono', monospace , sans-serif;
    margin: 0;
    padding-top: 1px;
}

.Heading p{
    background-color:#C8C8C8;
    color: black;
    text-align: center;
    font-family: 'Overpass Mono', monospace , sans-serif;
    margin: 0;
    padding-bottom: 1px;
}

body{
    background-image:url('../images/nature.jpeg');
    background-position: center;
    background-size: 1400px 500px;
    background-repeat: no-repeat;
    padding-bottom: 600px;
    margin: 0;
}

.para p{
    position: absolute;
    top: 600px;
    font-family: 'Overpass Mono', monospace , sans-serif;
    text-align: justify;
    margin: 20px;

    
}